<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>Theme</h3>
        </ion-text>
        <p>System default</p>
      </ion-label>
      <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>Enable push notifications</h3>
        </ion-text>
      </ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  
  </ion-list>
</ion-content>
