ion-toolbar {
    --background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  ion-content {
    --offset-top: 55px !important;
    --background: #fafafa;
  }
  
  ion-card {
    overflow: visible;
  
    ion-card-content {
      margin-top: -50px;
      padding: 16px;
    }
  
    .span-big {
      color: var(--text-color-secondary, #191b1c);
      clear: both;
      display: block;
    }
    
    img.avatar {
      border-radius: 50% !important;
      object-fit: cover;
      height: 150px;
      width: 150px;
      margin: -70px auto 10px auto !important;
      display: block;
      border: 2px solid white;
    }
  }

  
  img.main-profile-picture {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  ion-card.no-border {
    box-shadow: none !important;
  }

  .main-gradient {
    background: rgb(121,9,119);
    background: linear-gradient(45deg, rgba(121,9,119,1) 35%, rgba(255,200,0,1) 100%);
  }

  .blue-test {
    background: blue !important;
    --background: blue !important;
  }

  .image-list {
    display: flex;
  
    ion-img {
      overflow: hidden;
    }
  
    .item-images {
      margin: 0 15px !important;
    }
  
    & > .item-images:nth-child(1),
    & > .item-images:nth-child(3) {
      margin: 0 !important;
    }
  }

  #gallery-display-container {
    padding: 20px;
  }

  #gallery-display {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  }

  .flex-3cols {
    flex: 0 0 30%;
    margin: 2px;
  }
  #sms-display-container {
    padding: 20px;
  }

  #sms-display {
  display: block;
  padding-left: 0;
  }

  .sms-item {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --border: 1px solid #f2f2f2;
  }

  .sms-category {
    background: #fefefe;
    color: var(--ion-color-primary);
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
  }

  .sms-date {
    margin: 8px 0 8px 0;
    color: lightgray;
  }

  .main-info {
    --background:rgba(255,0,0,0.0);
    --color: #fff;
  }

  .lightgray {
    color: lightgray;
  }
  