        <!-- QUOTE OF THE DAY -->
            <ion-card class="card-details">
              <img class="cover-image" src="{{url}}">
              <ion-row>
                <ion-col size="auto">
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                    <ion-label>6</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                    <ion-label>267</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                    <ion-label>129</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="download-outline"></ion-icon>
                    <ion-label>19</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>