<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="spotlight">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Spotlight</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Ajouter</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="quizzes">
      <ion-icon name="trail-sign-outline"></ion-icon>
      <ion-label>Quizzes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>