<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div id="header-menu-bg"></div>
      <div id="header-content">
        <img src="../assets/images/capacitor-logo.png" alt="E">
        <ion-label>
          <h2>Miwa'm</h2>
          <p>Quotes app</p>
        </ion-label>
      </div>
      <div id="action-button"></div>

      <ion-list id="menu-items" lines="none">
        <ion-item>
          <ion-icon name="folder-open-outline"></ion-icon> Categories
        </ion-item>
        <ion-item>
          <ion-icon name="newspaper-outline"></ion-icon> Les plus recents
        </ion-item>
        <ion-item class="active">
          <ion-icon name="heart-outline"></ion-icon> Favoris
        </ion-item>
        <ion-item>
          <ion-icon name="flash-outline"></ion-icon> Meilleurs penseurs
        </ion-item>
        <ion-item>
          <ion-icon name="settings-outline"></ion-icon> Parametres
        </ion-item>
        <ion-item>
          <ion-icon name="help-circle-outline"></ion-icon> A propos
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>



  <ion-menu side="end" type="push" menuId="profile" contentId="main" class="profile-menu">
    <ion-header class="ion-no-border">
      <ion-toolbar color="primary">
        <ion-title>More settings</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list lines="none">
        <ion-item button>
          <ion-icon color="primary" slot="start" name="bookmarks-outline"></ion-icon>
          <ion-label>Bookmarks</ion-label>
        </ion-item>
        <ion-item (click)="logout()" button>
          <ion-icon color="primary" slot="start" name="exit-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="openSettings()">
            <ion-icon color="primary" slot="icon-only" size="large" name="cog-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
  
        <ion-title>Settings</ion-title>
  
        <ion-buttons slot="end">
          <ion-button (click)="toggleTheme()">
            <ion-icon color="primary" slot="icon-only" name="moon-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>