ion-toolbar {
    --background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
  
ion-card.main-card {
    margin: 30px;
}

iframe {
    margin: 20px 0 !important;
    width: 100% !important;
}