<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Miwam</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openMoreSettings()">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs
  [activeTabIndex]="0"
  [config]="stConfig"
>
  <super-tabs-toolbar slot="top" scrollable class="super-tabs-toolbar-custom">
    <super-tab-button>
      <ion-label>Latest</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Quotes</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Status</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Stories</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>
    <!-- LATEST -->
    <super-tab>
      <ion-content>

        <!-- QUOTE OF THE DAY -->
        <div class="container-view">
          <ion-list>
            <ion-list-header class="ion-list-header-custom">
              <strong>QUOTE OF THE DAY</strong>
            </ion-list-header>
            
            <ion-card (click)="openCard('../../../assets/images/img_1.png')" class="card-custom">
              <img class="cover-image" src="../../../assets/images/img_1.png">
              <ion-row>
                <ion-col class="ion-padding">
                  2h
                </ion-col>
                <ion-col size="auto">
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                    <ion-label>6</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                    <ion-label>267</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                    <ion-label>129</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-list>
        </div>
        
        <!-- IMAGES SWIPES -->
        <swiper avoid-super-tabs="true" [config]="swConfig">
          <ng-template swiperSlide>
            <img src="../../../assets/images/img1.png" alt="">
          </ng-template>
          <ng-template swiperSlide>
            <img src="../../../assets/images/img1.png" alt="">
          </ng-template>
          <ng-template swiperSlide>
            <img src="../../../assets/images/img1.png" alt="">
          </ng-template>
          <ng-template swiperSlide>
            <img src="../../../assets/images/img1.png" alt="">
          </ng-template>
        </swiper>

        <!-- LATEST QUOTES -->
        <div class="container-view">
          <ion-list>
            <ion-list-header class="ion-list-header-custom">
              <strong>Latest Quotes</strong>
            </ion-list-header>
            
            <ion-card *ngFor="let i of [0,1,2,3]" class="card-custom">
              <img class="cover-image" src="{{'assets/images/img_' + (i%4+1) + '.png'}}">
              <ion-row>
                <ion-col class="ion-padding">
                  2h
                </ion-col>
                <ion-col size="auto">
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                    <ion-label>6</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                    <ion-label>267</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                    <ion-label>129</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-list>
          
        <!-- LATEST SMS -->
        <ion-list>
          <ion-list-header>
            <strong>Latest textes</strong>
          </ion-list-header>
          <ion-card *ngFor="let sms of allSMS" class="card-custom">
            <ion-card-header>
              <ion-card-title>{{ sms.title }}</ion-card-title>
              <ion-card-subtitle class="category-name" >{{ sms.category }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ sms.message }}
            </ion-card-content>
            <ion-row>
              <ion-col class="ion-padding">
                {{ sms.createdAt | dateAsAgo }}
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                  <ion-label>6</ion-label>
                </ion-button>
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                  <ion-label>267</ion-label>
                </ion-button>
                <ion-button fill="clear" size="small" color="medium">
                  <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                  <ion-label>129</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-list>


        <!-- LATEST STORIES -->
          <ion-card class="card-custom">
            <ion-list>
              <ion-list-header class="ion-list-header-custom">
                <strong>Latest stories</strong>
              </ion-list-header>
              <ion-item class="link-item-small" lines="none" *ngFor="let i of [0,1,2,3]">
                <ion-thumbnail class="ion-thumbnail-custom" slot="start">
                  <img src="{{'assets/images/img_' + (i%4+1) + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                  <div class="category-name">Style</div>
                  <p class="status-message">UFC champion Conor McGregor announces his retirement -- for the third time</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>
        </div>

      </ion-content>
    </super-tab>

    <!-- QUOTES SUPERTAB -->
    <super-tab>
      <ion-content>

        <div class="container-view">
        <ion-card class="card-custom">
          <ion-list>
            <ion-list-header class="ion-list-header-custom">
              <strong>Don't miss these</strong>
            </ion-list-header>
            <ion-item class="link-item-small" lines="none" *ngFor="let i of [0,1,2,3]">
              <ion-thumbnail class="ion-thumbnail-custom" slot="start">
                <img src="{{'assets/images/img_' + (i%4+1) + '.png'}}" alt="">
              </ion-thumbnail>
              <ion-label class="ion-text-wrap">
                <div class="category-name">Style</div>
                <p class="status-message">UFC champion Conor McGregor announces his retirement -- for the third time</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
        </div>

      </ion-content>
    </super-tab>

    <!-- TEXTS SUPERTAB -->
    <super-tab>
      <ion-content>

        <div class="container-view">
          <ion-list>
            <ion-list-header>
              <strong class="uppercase">The best texts</strong>
            </ion-list-header>
            <ion-card *ngFor="let sms of allSMS" class="card-custom">
              <ion-card-header>
                <ion-card-title>{{ sms.title }}</ion-card-title>
                <ion-card-subtitle class="category-name" >{{ sms.category }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{ sms.message }}
              </ion-card-content>
              <ion-row>
                <ion-col class="ion-padding">
                  {{ sms.createdAt | dateAsAgo }}
                </ion-col>
                <ion-col size="auto">
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                    <ion-label>6</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                    <ion-label>267</ion-label>
                  </ion-button>
                  <ion-button fill="clear" size="small" color="medium">
                    <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                    <ion-label>129</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-list>
        </div>

      </ion-content>
    </super-tab>

    <!-- STORIES SUPERTAB -->
    <super-tab>
      <ion-content>

        <div class="container-view">
          <ion-card class="card-custom">
            <ion-list>
              <ion-list-header class="ion-list-header-custom">
                <strong>Don't miss these</strong>
              </ion-list-header>
              <ion-item class="link-item-small" lines="none" *ngFor="let i of [0,1,2,3]">
                <ion-thumbnail class="ion-thumbnail-custom" slot="start">
                  <img src="{{'assets/images/img_' + (i%4+1) + '.png'}}" alt="">
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                  <div class="category-name">Style</div>
                  <p class="status-message">UFC champion Conor McGregor announces his retirement -- for the third time</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>
        </div>

      </ion-content>
    </super-tab>

  </super-tabs-container>
</super-tabs>
