ion-toolbar {
    --background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

ion-content {
    --offset-top: 55px !important;
}
  
ion-card.main-card {
    margin: 30px;
}

iframe {
    margin: 20px 0 !important;
    width: 100% !important;
}

img.swiper-home {
    width: 100%;
    object-fit: cover;
}

.home-scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 100%;
  border-radius:15px;
}

.grid-scroll{
    display:inline-block;
  }
  
  .grid-scroll img {
    margin-right:22px;
  }
