ion-card.main-card {
    margin: 30px;
}

strong {
  color: var(--ion-color-primary);
  text-transform: uppercase;
}

iframe {
    margin: 20px 0 !important;
    width: 100% !important;
}

.slides-home {
    width: 100%;
    object-fit: cover;
}

.home-scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 100%;
  border-radius:15px;
}

.grid-scroll{
    display:inline-block;
  }
  
  .grid-scroll img {
    margin-right:22px;
  }

  .link-item-small {
    margin: 12px 0;
  }

.cover-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.custom-popover {
  --backdrop-opacity: rgba(0, 0, 0, 0.8);
  padding: 0 !important;
}

.popover-wraper {
  --padding: 0 !important;
}